@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    src: local('Cardo'),url(http://brick.a.ssl.fastly.net/fonts/cardo/400.woff) format('woff');
}

@font-face {
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    src: local('Cardo Italic'),url(http://brick.a.ssl.fastly.net/fonts/cardo/400i.woff) format('woff');
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    src: local('Cardo Bold'),url(http://brick.a.ssl.fastly.net/fonts/cardo/700.woff) format('woff');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    src: local('Bitter Bold'),url(http://brick.a.ssl.fastly.net/fonts/bitter/700.woff) format('woff');
}


html {
  color: #222222;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: Cardo, Garamond, serif;
  font-size: 12pt;
}

body {
  background: #efefef;
}

h1, h2, h3 {
  font-family: Bitter, Garamond, serif;
  text-decoration: underline;
}

div.page {
  width: 80%;
  max-width: 50em;
  overflow: auto;
  margin: 0 auto;
  padding: 2em;
  background: #f7f7f7;
  box-shadow: 0 0 8px black;
}

div.heading-left{
  float: left;
}

div.heading-right{
  float: right;
}

div.heading-left, div.heading-right {
  width: 10em;
  overflow: hidden;
}

div.heading {
  width: 100%;
  float: left;
  clear: both;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.tight {
  margin: 0;
}

.half {
  float: left;
  position: relative;
  width: 50%;
  overflow: hidden;
}

a:link, a:visited {
  color: #2D74AD;
  text-decoration: none;
}

a:hover {
  color: #6F9BBF;
}

