@font-face{
  font-family:'Sorts Mill Goudy';
  font-style:normal;
  font-weight:400;
  src:local('OFL Sorts Mill Goudy'),url(http://brick.a.ssl.fastly.net/fonts/sortsmillgoudy/400.woff) format('woff')
}

html {
  color: #222222;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: Sorts Mill Goudy, serif;
  font-size: 14pt;
}

body {
  background: #eee;
}

p.center {
  text-align: center;
}

h1.center {
  text-align: center;
}

h2, h3 {
  background: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: -2em 0 black, 2em 0 black;
}

section {
  margin: 0 auto;
  width: 80%;
  max-width: 30em;
  background: white;
  padding: 20px;
  box-shadow: 0 0 12px black;
}

/********************************/

/*div.text {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 30em;
}

div.full-width {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.bg1 {
  background-color: firebrick;
}

.bg2 {
  background-color: steelblue;
}*/
