html {
  color: #222222;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: Cardo, Garamond, serif;
  font-size: 12pt;
}

body {
  background: #efefef;
}

h1, h2, h3 {
  font-family: Bitter, Garamond, serif;
  margin-bottom: -0.5em;
}

div.page {
  width: 80%;
  max-width: 50em;
  overflow: auto;
  margin: 0 auto;
  padding: 2em;
  background: #f7f7f7;
  box-shadow: 0 0 8px black;
}

div.heading-left{
  float: left;
}

div.heading-right{
  float: right;
}

div.heading-left, div.heading-right {
  width: 10em;
  overflow: hidden;
}

div.heading {
  width: 100%;
  float: left;
  margin-top: -1em;
  clear: both;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.tight {
  margin: 0;
}

.half {
  float: left;
  position: relative;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow: hidden;
}

a:link, a:visited {
  color: #2D74AD;
  text-decoration: none;
}

a:hover {
  color: #6F9BBF;
}

@media (max-width: 800px), (orientation: portrait) {
  .half {
    width: 95%;
  }
}
