body {
  background-color: #222;
}

.container {
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.swatch {
  float: left;
  width: 10%;
  min-width: 10em;
  height: 5em;
  line-height: 5em;
  text-align: center;
  font-family: monospace;
  font-size: large;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.swatch:hover {
  opacity: 0.7;
}
