body {
  padding-bottom: 20px;
  height: 100%;
  background-image: url(../images/ranier-sunset-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  text-align: center;
}

.img-navbar {
  max-height: 30px;
  margin-top: -5px;
}

.img-header {
  max-width: 100%;
  /*move content down because navbar is 50px tall*/
  margin-top: 80px;
  margin-bottom: 4%;
}

.img-project {
  width: 140px;
  max-width: 50%;
}

#content {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: medium;
  padding: 2em;
}

/* .project-div {
  background-color: rgba(255, 255, 255, 0.6);
} */

.btn-custom {
	color:#fff;
	background-color:#2D74AD;
	border-color:#2D74AD;
}

.btn-custom.active,.btn-custom.focus,.btn-custom:active,.btn-custom:focus,.btn-custom:hover,.open>.dropdown-toggle.btn-custom{
	color:#fff;
	background-color:#6F9BBF;
	border-color:#6F9BBF;
}
