body {
  background-image: url("../images/adolfjensen-desktop.jpg");
}

.col-md-5 {
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 1.5;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0em 0em 1em 0em #202020;
}

img#icon{
  padding-top: 1em;
  padding-bottom: 2em;
}

.row {
  padding-top: 3em;
}

.col-md-5, .listitem {
  color: rgba(0,0,0,1);
  text-shadow: 0 1px 3px rgba(0,0,0,0);
}

.listitem {
  font-weight: 700;
  transition-property: color;
  transition-duration: 0.2s;
  color: #1251a7;
}

.listitem:hover {
  transition-property: color;
  transition-duration: 0.4s;
  color: #102746;
}

#landscape-note {
  font-size: small;
  font-style: oblique;
}

@media screen and (orientation: landscape) {
  body {
    background-image: url("../images/adolfjensen-desktop.jpg");
  }

  p#landscape-note {
    font-style: oblique;
    font-size: small;
  }
}

@media screen and (orientation: portrait) {
  body {
    background-image: url("../images/adolfjensen-mobile.jpg");
    font-size: large;
  }

  p#landscape-note {
    visibility: hidden;
    display: none;
  }
}
