body {
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/frame1.jpg") no-repeat;
  background-size: cover;
}

/* Disable video on mobile */
@media screen and (max-device-width: 800px) {
  body {
    background-image: url("../images/ravendance.jpg")
  }
  #bgvid {
    display: none;
  }
}

/* div.choice {
  height: 20em;
  border-style: solid;
  border-color: "white";
  border-width: 3px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
          box-shadow: 0 0 3px rgba(0,0,0,.5);

  background-color: transparent;

  margin-bottom: 1em;
  padding-bottom: 1em;
} */

