
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    {{.Header}}

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img class="img-navbar" src="images/mustache_mtn_bw_small_inverted.png" alt="Logo">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-expanded="false">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="karta.html">karta</a></li>
                <li><a href="narwhal.html">narwhal</a></li>
                <li><a href="http://www.ironicmtn.com/irlib">irlib</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-expanded="false">For fun<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="waves.html">Wave Tank</a></li>
                <li><a href="http://www.isitquaking.ca">Is it Quaking in Vancouver?</a></li>
              </ul>
            </li>

            <li><a href="http://web.mit.edu/~njwilson/www/">Author</a></li>
            <!--<li><a href="https://careers.stackoverflow.com/njwilson23">Hire me</a></li>-->

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {{.Body}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    {{.Footer}}

  </body>
</html>
