body {
  font-family: "Lato";
}

section#main {
  margin: auto auto;
  width: 70%;
  max-width: 800px;
}

div.list {
  text-align: center;
}


a,a:visited {
  color: blue
}

a:hover {
  color: steelblue;
}

img {
  display: block;
  margin: auto auto;
  box-shadow: 0px 0px 2px;
  border-radius: 3px;
  max-width: 100%;
}

pre>code {
  padding: 1em 1em;
  border-radius: 3px;
}
