
@font-face{
  font-family:'Bitter';
  font-style:normal;
  font-weight:700;
  src:local('Bitter Bold'),url(http://brick.a.ssl.fastly.net/fonts/bitter/700.woff) format('woff')
}

body {
  background: #222222;
}

h1 {
  font-family: Bitter, sans-serif;
  font-size: 26;
}

p {
  font-size: 16;
}

p, h1 {
  color: #EAEAEA;
}

div.row {
}

.center {
  text-align: center;
}

.centered {
  margin: auto;
}

img {
  width: 80%;
  /*opacity: 0.8;*/
}

img:hover {
  /*opacity: 1.0;*/
}
